## Funktioner

In [2]:
def hello():
    print('Hello World!')
    
hello()

Hello World!

In [3]:
def hello():
    return "Hello World!"

print(hello())

Hello World!

## Parametre

In [5]:
def parameters(firstname, lastname):
    print('Hello ' + firstname + " " + lastname)
    
parameters('Mike', 'Eggertsen')

Hello Mike Eggertsen

In [9]:
def args(*args):
    print('I do not know the amount of argument\n' + str(args))
    
args('So', 'I', 'Will', 'Store', 'All', 'Of', 'Them', 'In', 'A', 'Tuple')

I do not know the amount of argument
('So', 'I', 'Will', 'Store', 'All', 'Of', 'Them', 'In', 'A', 'Tuple')

In [22]:
def kwargs(**kwargs):
    print('This is the same as *args, but Key-Value pairs ' + str(kwargs))
    
kwargs(a='Hello', b='World')

This is the same as *args, but Key-Value pairs {'a': 'Hello', 'b': 'World'}

## Lambda

In [23]:
my_lambda = lambda a, b : a + b

my_lambda(5,5)

10

## First Class Functions

In [34]:
def first_class_func():
    print('I am a first class citizen')
    
my_list = ['My Name Is', first_class_func, min]

In [31]:
my_list[0]

'My Name Is'

In [33]:
my_list[1]()

I am a first class citizen

In [32]:
my_list[2]

In [35]:
def call_func(func):
    print('Calling function...')
    func()
    
call_func(first_class_func)

Calling function...
I am a first class citizen

## Data Strukturer

### List
- Ordered
- Arbitrary Objects
- Uses index
- Dynamic
- Mutable

In [67]:
my_list = ['I Am String', first_class_func, 22]

In [43]:
my_list

['I Am String', <function __main__.first_class_func()>, 22]

In [45]:
my_list[0]

'I Am String'

### Operationer

In [68]:
my_list[0] = 'I Am Groot'

In [47]:
my_list[0]

'I Am Groot'

In [56]:
my_list[::-1]

[22, <function __main__.first_class_func()>, 'I Am String']

In [69]:
my_list[1:1] = ['Another One']

In [70]:
my_list += ['Appended']

In [72]:
my_list = ['Prepended'] + my_list

In [73]:
my_list

['Prepended',
 'I Am Groot',
 'Another One',
 <function __main__.first_class_func()>,
 22,
 'Appended']

### Use Case

In [83]:
class Person():
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

In [84]:
persons = []

persons.append(Person('Mike', 'Eggertsen'))
persons.append(Person('Claus', 'Bove'))

In [85]:
for person in persons:
    print(person.fname + " " + person.lname)

Mike Eggertsen
Claus Bove

### Tuples
- Like Lists but immutable

In [93]:
my_tuple = ()

In [94]:
type(my_tuple)

tuple

In [95]:
my_tuple = ('Foo', 'Bar', 'Baz')

In [96]:
my_tuple

('Foo', 'Bar', 'Baz')

In [97]:
my_tuple[0]

'Foo'

In [98]:
my_tuple[0] = 'Groot'

TypeError: 'tuple' object does not support item assignment

In [99]:
(s1, s2, s3) = my_tuple

In [100]:
s1

'Foo'

In [101]:
s2

'Bar'

In [102]:
s3

'Baz'

In [103]:
(x1, x2, x3, x4) = my_tuple

ValueError: not enough values to unpack (expected 4, got 3)

### Usecase

In [180]:
very_important_data = ('Nuclear Password', '1234')

In [182]:
very_important_data

('Nuclear Password', '1234')

In [184]:
very_important_data[1]

'1234'

In [185]:
very_important_data[1] = 'lolhewillneverguessthiscode'

TypeError: 'tuple' object does not support item assignment

### Set
- Unordered
- No Duplicates
- Set is mutable
- Elements must be immutable

In [198]:
my_set1 = {1, 2, 3, 4, 5, 6, 7}

In [115]:
type(my_set1)

set

In [116]:
my_set

{1, 2, 3}

In [204]:
my_set2 = set({3, 4, 5, 6, 8, 9, 10})

In [127]:
type(new_set)

set

### Matematiske operationer

In [200]:
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 7}

In [201]:
my_set1.intersection(my_set2)

{3, 4, 5, 6}

In [205]:
my_set1.difference(my_set2)

{1, 2, 7}

In [206]:
my_set1.symmetric_difference(my_set2)

{1, 2, 7, 8, 9, 10}

### Andre operationer

In [196]:
my_set1.update()

In [155]:
my_set1

{1, 2, 3, 4, 5, 6, 7, 100, 200}

In [156]:
my_set1.remove(5)

In [157]:
my_set1

{1, 2, 3, 4, 6, 7, 100, 200}

In [159]:
my_set1.pop()

1

### Usecase

In [207]:
my_food_preferences = {'Pizza', 'Ryebread', 'Burgers', 'Salat'}
hers_food_preferences = {'Ryebread', 'Salat', 'Spaghetti', 'Chili con carne'}

shared_food_preferences = my_food_preferences.intersection(hers_food_preferences)

In [208]:
shared_food_preferences

{'Ryebread', 'Salat'}

In [210]:
not_shared_food_preferences = my_food_preferences.symmetric_difference(hers_food_preferences)

In [211]:
not_shared_food_preferences

{'Burgers', 'Chili con carne', 'Pizza', 'Spaghetti'}

### Dict
- Like Lists but uses Key-Value

In [161]:
my_dict = {}

In [162]:
type(my_dict)

dict

In [164]:
my_dict = {'Ken': '36 72 91 71', 'Bo': '36 78 92 52', 'Diana': '32 12 83 19'}

In [165]:
my_dict['Ken']

'36 72 91 71'

In [166]:
my_dict['Ken'] = '36 78 91 71'

In [167]:
my_dict['Ken']

'36 78 91 71'

In [168]:
my_dict.keys()

dict_keys(['Ken', 'Bo', 'Diana'])

In [169]:
my_dict.values()

dict_values(['36 78 91 71', '36 78 92 52', '32 12 83 19'])

In [170]:
my_dict.pop('Lisa', -1)

-1

In [171]:
my_dict.pop('Ken')

'36 78 91 71'

In [172]:
my_dict

{'Bo': '36 78 92 52', 'Diana': '32 12 83 19'}

### Usecase

In [222]:
cars = ['Ford', 'Mercedes', 'Audi', 'BMW']
car_prices = {'Ford': '10000$', 'Mercedes': '30000$', 'Audi': '25000$', 'BMW': '35000$'}

In [226]:
car = input('What car you looking for?')
try:
    car_price = car_prices[car]
    print('The price is: ' + car_price)
except KeyError:
    print('Sorry we do not have that car...')

What car you looking for?Audi
The price is: 25000$

## List Comprehension
- For loops, but more compact

In [240]:
numbers = []

In [241]:
for num in range(11):
    if num % 2 == 0:
        numbers.append(num)

numbers

[0, 2, 4, 6, 8, 10]

In [242]:
[num for num in numbers if num % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [253]:
import time

def timer(func):
    def wrapper():
        start = time.time()
        func()
        end = time.time()
        result = end - start
        print('Result: ' + str(result * 1000) + ' milliseconds')
    return wrapper

In [254]:
@timer
def for_loop():
    numbers = []
    for num in range(100000000):
        numbers.append(num)
        
@timer
def list_comprehension():
    [num for num in range(100000000)]

In [255]:
for_loop()

list_comprehension()

Result: 12572.059631347656 milliseconds
Result: 8687.997341156006 milliseconds

In [256]:
tuple(num for num in range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [268]:
my_gen = (num for num in range(11))

In [269]:
for num in my_gen:
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [272]:
list(my_gen)

[]